<header>
  <div class="header_container">
      <div class="header_title">
          <h1>{{'Elden Ring' | uppercase}}</h1>
          <p>Fan Site</p>
      </div>

      <nav>
        <ul>
          <a [routerLink]="'home'" [routerLinkActive]="['selected']"><li>Home</li></a>
          <a [routerLink]="'ressource'" [routerLinkActive]="['selected']"><li>Ressources</li></a>
          <a [routerLink]="'#'" [routerLinkActive]="['selected']"><li>Lien</li></a>
          <a [routerLink]="'#'" [routerLinkActive]="['selected']"><li>Lien</li></a>
        </ul>
      </nav>
  </div>
</header>
